<div class="body">


  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" href="#">
      GEP
    </a>

    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Item 1</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Item 2</a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="ui-g" style="margin-top: 4%">


    <div class="ui-g-2" id="Menu-lateral">

      <div class="fix">
        <div class="menu">

        </div>
        <p-menu [model]="items"></p-menu>
      </div>
    </div>



    <div class="ui-g-10" id="conteudo">
      <div style="height: 1000px">d</div>

    </div>

  </div>
</div>
