<style>
  .e-rowcell {
    font-size: 12px;
  }

</style>

<p-toast [style]="{marginTop: '50px'}"></p-toast>
<p-card>
  <div class="row">
    <i class="pi pi-folder" style="font-size: 100px"></i>
    <h2 style="padding: 30px;">Tarefas</h2>
  </div>
  <div>
    <ejs-grid [dataSource]="listaTarefas"
              [allowPaging]='true'
              [pageSettings]="pageOptions"
              [allowSorting]="true"
              [allowFiltering]="true"
              [filterSettings]='filterSettings'
              [editSettings]='editSettings'
              [toolbar]='toolbar'
              (actionBegin)='actionBegin($event)'
              (actionComplete)='actionComplete($event)'
    >
      <!--format='d/M/y' -->
      <e-columns>
        <e-column field="id" headerText="ID" isPrimaryKey='true' [visible]="false" width="120"></e-column>
        <e-column field="descricao" headerText="Descricao" width="120"></e-column>
        <e-column field="dias" headerText="Dias" width="120"></e-column>
        <e-column field="dt_INICIO" headerText="Data Inicio" type='date' format='dd/MM/yyyy' width="120"></e-column>
        <e-column field="dt_FIM" headerText="Data Fim" type='date' format='dd/MM/yyyy' width="120"></e-column>
        <e-column field="status" headerText="Status" width="120"></e-column>
        <e-column field='responsavel' headerText='Responsavel' editType='dropdownedit' width=150></e-column>
        <e-column headerText='AÇÕES' width=100 [commands]='commands'></e-column>

        <ng-template #editSettingsTemplate let-data>
          <div ngForm #orderForm="ngForm">
            <div class="e-float-input e-control-wrapper"
                 [ngClass]="{'e-error': id.invalid && (id.dirty || id.touched)}">
              <input [(ngModel)]="tarefa.id"
                     id="id"
                     name="id"
                     type="text"
                     [attr.disabled]="true"
                     #id="ngModel">
              <span class="e-float-line"></span>
              <label class="e-float-text e-label-top" for="id">ID</label>
            </div>
            <div id="IDError" *ngIf='id.invalid && (id.dirty || id.touched)'>
              <label class="e-error" id="id-info" style="display: block;">*ID é obrigatório.</label>
            </div>


            <div class="e-float-input e-control-wrapper"
                 [ngClass]="{'e-error': descricao.invalid && (descricao.dirty || descricao.touched)}">
              <input [(ngModel)]="tarefa.descricao"
                     id="descricao"
                     name="descricao"
                     type="text"
                     #descricao="ngModel">
              <span class="e-float-line"></span>
              <label class="e-float-text e-label-top" for="descricao">Descrição</label>
            </div>
            <div id="descricaoError" *ngIf='descricao.invalid && (descricao.dirty || descricao.touched)'>
              <label class="e-error" id="descricao-info" style="display: block;">*Descricao é obrigatório.</label>
            </div>

            <div class="form-row">
              <div class="form-group col-md-12">
                <ejs-dropdownlist id="responsavel"
                                  name="responsavel"
                                  [(ngModel)]="tarefa.id_responsavel"
                                  [dataSource]='users'
                                  [fields]="{text: 'nome', value: 'id' }"
                                  placeholder="Nome responsavel"
                                  popupHeight='300px'
                                  floatLabelType='Always'></ejs-dropdownlist>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <ejs-datepicker id="DataInicio"
                                name="DataInicio"
                                required
                                [(ngModel)]="tarefa.dt_INICIO_PREV"
                                format="dd/MM/yyyy"
                                placeholder="Data Inicio"
                                floatLabelType='Always'
                >
                </ejs-datepicker>
              </div>
              <div class="form-group col-md-6">
                <ejs-datepicker id="DataFim"
                                name="DataFim"
                                required
                                [(ngModel)]="tarefa.dt_FIM_PREV"
                                format="dd/MM/yyyy"
                                placeholder="Data Fim"
                                floatLabelType='Always'>
                </ejs-datepicker>
              </div>
            </div>
            <div class="form-row" *ngIf="!addNewProjeto">
              <div class="form-group col-md-12">
                <ejs-dropdownlist
                  id="id_status"
                  name="id_status"
                  [(ngModel)]="tarefa.id_status"
                  [dataSource]='listaStatus'
                  [fields]="{text: 'st_DESC', value: 'st_ID'}"
                  placeholder="Status"
                  popupHeight='300px'
                  floatLabelType='Always'></ejs-dropdownlist>
              </div>
            </div>
            <div class="form-row" *ngIf="addNewProjeto">

              <div class="form-group col-md-6">
                <div id="wrapper">
                  <ejs-combobox #projetosCmb
                                id="cmbProjeto"
                                name="id_projeto"
                                [(ngModel)]="tarefa.id_projeto"
                                [dataSource]="listaProjeto"
                                [fields]="{text: 'nome', value: 'id' }"
                                (change)="mudancaProjeto()"
                                floatLabelType='Always'
                                placeholder="Selecione um Projeto"></ejs-combobox>

                </div>
              </div>
              <div class="form-group col-md-6">
                <div class="padding-top">
                  <ejs-combobox #cronogramaCmb
                                id="cronogramaCmb"
                                [(ngModel)]="tarefa.id_cronograma"
                                [dataSource]="listaCronograma"
                                [ngModelOptions]="{standalone: true}"
                                [fields]="{text: 'nome', value: 'id' }"
                                placeholder="Selecione um Cronograma"
                                floatLabelType='Always'
                                [enabled]="false"></ejs-combobox>
                </div>
              </div>

            </div>
          </div>
        </ng-template>
      </e-columns>
    </ejs-grid>
  </div>
</p-card>


