<!--<p>-->
<!--  style-default works! shalom-->
<!--</p>-->

<!--<p-tabMenu [model]="items"></p-tabMenu>-->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand" href="#">
    Brand
  </a>

  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Item 1</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Item 2</a>
      </li>
    </ul>
  </div>
</nav>


<div class="ui-g" style="margin-top: 5%">


  <div class="ui-g-9" id="Menu-lateral">
  <p-menu [model]="items"></p-menu>
  </div>



  <div class="ui-g-9" id="conteudo">
    <div style="height: 1000px">d</div>

  </div>

</div>


<!--<div class="ui-g" >-->











<!--<div >-->
<!--  <ul class="list">-->
<!--    <li class="header">MENU</li>-->
<!--    <li class="active">-->
<!--      <a href="index.html">-->
<!--        <i class="material-icons">home</i>-->
<!--        <span>Inicio</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li >-->
<!--      <a href="projeto.html">-->
<!--        <i class="material-icons"></i>-->
<!--        <span>Projetos</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="active">-->
<!--      <a href="tarefas.html">-->
<!--        <i class="material-icons"></i>-->
<!--        <span>Tarefas</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="active">-->
<!--      <a href="cronograma.html">-->
<!--        <i class="material-icons"></i>-->
<!--        <span>Cronograma</span>-->
<!--      </a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->

<!--</div>-->


