<style>
  .ui-inputtext {
    text-transform: uppercase;
  }

  .e-rowcell {
    font-size: 12px;
  }
</style>
 
<p-toast [style]="{marginTop: '50px'}"></p-toast>


<div class="p-grid">
  <div class="p-col">
      <div class="row">
          <i class="pi pi-folder" style="font-size: 100px"></i>
          <h2 style="padding: 30px;">Cronograma</h2>
        </div>
      <div>
        <ejs-grid [dataSource]="listaCronograma"
                  [allowPaging]='true'
                  [pageSettings]="pageOptions"
                  [allowSorting]="true"
                  [allowFiltering]="true"
                  [filterSettings]='filterSettings'
                  [editSettings]='editSettings'
                  [toolbar]='toolbar'
                  (actionBegin)='actionBegin($event)'
                  (actionComplete)='actionComplete($event)'
        >
          <e-columns>
            <e-column field="id" headerText="ID" isPrimaryKey='true' [visible]="false" width="120"></e-column>
            <e-column field="projeto" headerText="Projeto" width="120"></e-column>
            <e-column field="descricao" headerText="Descricao" width="100"></e-column>
            <e-column field="origem" headerText="Origem" width="70"></e-column>
            <e-column field="lider" headerText="Lider" width="100"></e-column>
            <e-column field="status" headerText="Status" width="100"></e-column>
            <e-column field="dt_INICIO" headerText="Inicio" width="100"></e-column>
            <e-column field="dt_FIM" headerText="Fim" width="100" ></e-column>
            <e-column headerText='AÇÕES' width=100 [commands]='commands'></e-column>
          </e-columns>
          <ng-template #editSettingsTemplate let-data>
            <div ngForm #orderForm="ngForm">
              <div class="form-row">
                <div class="form-group col-md-12">

                  <div class="e-float-input e-control-wrapper"
                       [ngClass]="{'e-error': id.invalid && (id.dirty || id.touched)}">
                    <input [(ngModel)]="cronograma.id"
                           id="id"
                           name="id"
                           type="text"
                           [attr.disabled]="true"
                           #id="ngModel">
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" for="id">ID</label>
                  </div>
                  <div id="IDError" *ngIf='id.invalid && (id.dirty || id.touched)'>
                    <label class="e-error" id="id-info" style="display: block;">*ID é obrigatório.</label>
                  </div>


                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <ejs-dropdownlist id="Projeto"
                                        name="Projeto" [(ngModel)]="cronograma.id_projeto"
                                        [dataSource]='projeto'
                                        [fields]="{text:'nome',value:'id'}"
                                        placeholder="Selecione um Projeto"
                                        floatLabelType='Always'>

                      </ejs-dropdownlist>
                    </div>
                  </div>

                  <div class="e-float-input e-control-wrapper"
                       [ngClass]="{'e-error': Nome.invalid && (Nome.dirty || Nome.touched)}">
                    <input [(ngModel)]="cronograma.nome" required id="Nome" name="Nome" type="text"
                           #Nome="ngModel">
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" for="Nome">Nome</label>
                  </div>
                  <div id="NomeError" *ngIf='Nome.invalid && (Nome.dirty || Nome.touched)'>
                    <label class="e-error" id="Nome-info" style="display: block;">*Nome é obrigatório.</label>
                  </div>

                  <div class="e-float-input e-control-wrapper"
                       [ngClass]="{'e-error': Nome.invalid && (Nome.dirty || Nome.touched)}">
                    <input [(ngModel)]="cronograma.descricao" required id="Descricao" name="Descricao" type="text"
                           #Nome="ngModel">
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" for="Descricao">Descricao</label>
                  </div>
                  <div id="DescricaoError" *ngIf='Nome.invalid && (Nome.dirty || Nome.touched)'>
                    <label class="e-error" id="Descricao-info" style="display: block;">*Nome é obrigatório.</label>
                  </div>

                  <!-- new-->

                  <div class="e-float-input e-control-wrapper"
                       [ngClass]="{'e-error': Nome.invalid && (Nome.dirty || Nome.touched)}">
                    <input [(ngModel)]="cronograma.origem" required id="Origem" name="Origem" type="text"
                           #Nome="ngModel">
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" for="Origem">Origem</label>
                  </div>
                  <div id="OrigemError" *ngIf='Nome.invalid && (Nome.dirty || Nome.touched)'>
                    <label class="e-error" id="Origem-info" style="display: block;">*Nome é obrigatório.</label>
                  </div>


                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <ejs-dropdownlist id="Lider"
                                        name="Lider"
                                        [(ngModel)]="cronograma.id_lider"
                                        [dataSource]='users'
                                        [fields]="{text:'nome',value:'id'}"
                                        floatLabelType='Always'
                                        placeholder="Nome responsavel">
                      </ejs-dropdownlist>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </ng-template>
        </ejs-grid>
      </div>
  </div>

</div>
