<style>
  .ui-inputtext{
    text-transform: uppercase;
  }
</style>


<!--<h1>-->
<!--  Cronograma-->
<!--</h1>-->
<p-confirmDialog #cd header="Confirmação" icon="pi pi-info-circle">
  <p-footer>
    <button type="button" pButton icon="pi pi-times" class="ui-button-danger" label="Não"
            (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check" class="ui-button-success" label="Sim"
            (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
<p-toast [style]="{marginTop: '50px'}"></p-toast>
<p-dialog header="Cronograma detalhes" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [style]="{width: '500px'}">

  <div class="ui-g ui-fluid" *ngIf="editCronograma">
    <div class="ui-g-12">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="projeto">Projeto</label>
        </div>
        <div class="ui-g-8">
          <p-dropdown id="projeto" [options]="projeto" [(ngModel)]="selectedProjetos"
                      placeholder="{{!newCronograma  ? editCronograma.projeto  : 'Selecione'}}" optionLabel="nome"
                      [showClear]="true">
          </p-dropdown>
        </div>

      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="lider">Lider</label>
        </div>
        <div class="ui-g-8">

          <p-dropdown id="lider" [options]="users" [(ngModel)]="selectUsuario"
                      placeholder="{{!newCronograma ? editCronograma.lider :'Selecione'}}" optionLabel="nome"
                      [showClear]="true" required></p-dropdown>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="descricao">Descricão</label>
        </div>
        <div class="ui-g-8">
          <!--          <input pInputText id="descricao" [(ngModel)]="editCronograma.descricao" required/>-->
          <textarea pInputText id="descricao" rows="5" cols="40"  [(ngModel)]="editCronograma.descricao"></textarea>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="origrm" ngForm>Origem</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="origrm" [(ngModel)]="editCronograma.origem" required/>
        </div>
      </div>

    </div>

  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-times" class="ui-button-danger" (click)="confirm()"
              label="Delete"></button>
      <button type="button" pButton icon="pi pi-check" (click)="save()" label="Salvar"></button>
    </div>
  </p-footer>
</p-dialog>


<div class="p-grid">
  <div class="p-col">
    <p-card header="Cronograma">
      <div style="text-align:right">
        <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add"></button>
      </div>
      <div>
        <ejs-grid [dataSource]="listaCronograma"
                  [allowPaging]='true'
                  [pageSettings]="pageOptions"
                  [allowSorting]="true"
                  [allowFiltering]="true"
                  [filterSettings]='filterSettings'
                  (rowSelecting)="onRowSelect($event)"
        >
          <e-columns>
            <div *ngFor=" let col of colunas">
              <e-column field="{{col.field}}"headerText="{{col.header}}" width="120"></e-column>
            </div>
          </e-columns>
        </ejs-grid>
      </div>
    </p-card>

  </div>

</div>
