.conteudo{
  ////margin-top: 10%;
  ////height: 10000px;
  ////margin-left: 15%;
  ////background-color: black;

  //margin-left: 210px;
  margin-left: 10px;
  //padding-top: 70px;
  background-color: #fff;
  margin-right: 10px;
  width: 80%;
}

nav-item:hover{
  border-bottom-color: white;
}
.container-Grande{
  display: flex;

}
