<div class="p-grid">
  <div class="p-col">
    <p-card header="Projetos concluídos" [style]="{width: '347px'}">
      <div>
        <p-progressBar [value]="progresso.porcentagem_projeto"></p-progressBar>
      </div>
      <p>{{progresso.projeto}} concluídos.</p>
    </p-card>
  </div>
  <div class="p-col">
    <p-card header="Cronogramas concluidos" [style]="{width: '347px'}">
      <div>
        <p-progressBar [value]="progresso.porcentagem_cronograma"></p-progressBar>
      </div>
      <p>{{progresso.cronograma}} concluídos.</p>
    </p-card>
  </div>
  <div class="p-col">
    <p-card header="Tarefas concluidas" [style]="{width: '347px'}">
      <div>
        <p-progressBar [value]="progresso.porcentagem_tarefa"></p-progressBar>
      </div>
      <p>{{progresso.tarefa}} concluídos.</p>
    </p-card>
  </div>
</div>
<div class="p-grid">
  <div class="p-col" >
          <ejs-grid height='385'
                    [dataSource]="colaboradores"
                    [allowPaging]='true'
                    [pageSettings]="pageOptions"
                    [allowSorting]="true"
                    [allowFiltering]="true"
                    [filterSettings]='filterSettings'
                    locale='pt_br'>
            <e-columns>
              <e-column field='id' headerText='ID' textAlign='Right' width='100'></e-column>
              <e-column field='nome' headerText='NOME' width='200'></e-column>
              <e-column field='tarefas' textAlign='Right' format='c2' width='120'></e-column>
              <e-column field='finalizadas' headerText='Finalizadas' width='140'></e-column>
            </e-columns>
          </ejs-grid>
  </div>
  <div class="p-col">
    <p-card [style]="{width: '439px'}">
      <div><app-dashboard></app-dashboard>
      </div>
    </p-card>
  </div>
</div>
