<style>
  .e-rowcell{
    font-size: 12px;
  }
</style>

<div class="p-grid">
  <div class="p-col">
    <p-card header="Projetos concluídos" [style]="{width: '100%'}">
      <div>
        <p-progressBar [value]="progresso.porcentagem_projeto"></p-progressBar>
      </div>
      <p>{{progresso.projeto}} concluídos.</p>
    </p-card>
  </div>
  <div class="p-col">
    <p-card header="Cronogramas concluidos" [style]="{width: '100%'}">
      <div>
        <p-progressBar [value]="progresso.porcentagem_cronograma"></p-progressBar>
      </div>
      <p>{{progresso.cronograma}} concluídos.</p>
    </p-card>
  </div>
  <div class="p-col">
    <p-card header="Tarefas concluidas" [style]="{width: '100%'}">
      <div>
        <p-progressBar [value]="progresso.porcentagem_tarefa"></p-progressBar>
      </div>
      <p>{{progresso.tarefa}} concluídos.</p>
    </p-card>
  </div>
</div>
<div class="p-grid ">
  <div class="p-col-6">
    <p-card [style]="{width: '100%'}">
      <app-dashboard></app-dashboard>
    </p-card>
  </div>
  <div class="p-col-6">
    <p-card [style]="{width: '100%'}">
      <ejs-grid height='385'
                [dataSource]="colaboradores"
                [allowPaging]='true'
                [pageSettings]="pageOptions"
                [allowSorting]="true"
                [allowFiltering]="true"
                [filterSettings]='filterSettings'
                locale='pt_br'>
        <e-columns>
          <e-column field='id' headerText='ID' [visible]="false" width='50' textAlign='Left'></e-column>
          <e-column field='nome' headerText='NOME' width='170'></e-column>
          <e-column field='tarefas' headerText='TAREFAS' textAlign='Right' width='70'></e-column>
          <e-column field='finalizadas' headerText='FINALIZADAS' width='90'></e-column>
        </e-columns>
      </ejs-grid>
    </p-card>
  </div>
</div>
