a{
  display: flex;
}
.pi{
  align-content: last;
}
#sidebar.active {
  margin-left: -250px;

}
.sidebar-image {
  background: url(https://ej2.syncfusion.com/showcase/angular/expensetracker/assets/images/user.svg) no-repeat scroll 0 0 transparent;
  background-position-x: left;
  height: 85px;
  width: 100%;
  background-size: 85px;
  /* margin-left: 20px; */
}
//{
//  background: url(https://ej2.syncfusion.com/showcase/angular/expensetracker/assets/images/user.svg) no-repeat scroll 0 0 transparent;
//  background-position-x: left;
//  height: 85px;
//  width: 100%;
//  background-size: 85px;
//}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
}

a[data-toggle="collapse"] {
  position: relative;
}


@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}


body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

/*itens*/
a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
.sidebar-brand{
  margin-top: 50px;
}
#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  //margin-top: 10%;
  background: white;
  color: white;
  font-size: 14px;
  transition: all 0.3s;
  border: 1px solid #e0e0e0;
}
.list-unstyled{
  //text-align: center;
  color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 48px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #2e4154;
}

#sidebar ul.components {
  padding: 20px 0;
  //border-bottom: 1px solid #2e4154;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

/*faz nada*/
#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
/*faz nada*/
#sidebar ul li a:hover {
  color: #2e4154;
  background: #eeeeee;
}
/*faz nada*/
#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #2e4154;
}
/*faz nada */
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: black;
}
