<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar" [class.active]="classApplied">
    <div class="sidebar-header">
      <h3>Gestão de projetos</h3>
    </div>

    <ul class="list-unstyled components">

      <li>
        <a href="#">Projeto</a>
      </li>
      <li>
        <a href="#">Cronograma</a>
      </li>
      <li>
        <a href="#">Tarefas</a>
      </li>
    </ul>
  </nav>
</div>
<div id="content">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

      <button  type="button" pButton icon="pi pi-bars" (click)="toggleClass()"  id="sidebarCollapse" class="btn btn-info">
        <i class="fas fa-align-left"></i>
      </button>

    </div>
  </nav>
</div>
